PORT=5000
MONGODB_URI=your_connection_string
JWT_SECRET=a_random_secret_key
JWT_EXPIRES_IN=7d
GOOGLE_API_KEY=your_gemini_api_key
NEO4J_URI=your_neo4j_url
NEO4J_USERNAME=name
NEO4J_PASSWORD=your_downloaded_password

